/* elements.less */
body {
	font-family: Helvetica, arial, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
}

a { color: white; text-decoration: none; }
a:hover { text-decoration: underline; }
#content a, #bottom a { color: #418DC9; }
#sidebar a { color: #000; }

p { margin: 0 0 1em; }

h1, h2, h3, h4, h5, h6 {
	font-size: 14px;
	font-weight: bold;
	margin: 0.6em 0 1em;
}
h1, h3 {
	background: url(../images/triangle2.png) left no-repeat;
	color: #418dc9;
	padding-left: 20px;
	text-transform: uppercase;
}
h1 { margin: 0 0 11px -10px; position: relative; top: -9px; }
h2 { color: #676767; }
h4 { }
h5 { }
h6 { }

strong {
	font-weight: bold;
}

/* forms */
label {
	float: left;
	margin: 0 10px 0 0;
	text-align: right;
	width: 150px;
}

input[type="text"], textarea {
	background: none;
	border: 1px solid #AAA;
	padding: 3px 5px;
}

.form_item {
	margin-bottom: 0.5em;
}
.cf_captcha label {
	display: block;
	margin: 0;
	text-align: left;
	width: 100%;
}
.cf_captcha img {
	float: left;
}
.cf_captcha input {
	float: left;
	margin: 9px 5px 9px 160px;
}

.cf_button input {
	margin-left: 160px;
}

.cfclear { clear: both; height: 1px; overflow: hidden; }
.LV_validation_message {
}
.chronoform { display: none; }
