/* layout.css */
body, html { height: 100%; }
body {
	background: url(../images/body_bg.png) 0 201px repeat-x;
}

#wrapper {
	position: relative;
	min-height: 100%;
}

#user1 > div,
#top > div > div, #logo > div,
#menu > div, #content > div,
#bottom > div, #footer > div {
	margin: 0 auto;
	width: 1000px;
}


#top { background: url(../images/header.png) no-repeat top; }
#top > div { background: url(../images/trusses.png) no-repeat; }
#top > div > div { height: 52px; position: relative; }

#logo > div { padding: 20px; }
#menu {
	background: url(../images/menu_bg.png);
	margin-bottom: 32px;
}

#user1 {
	margin: 32px 0 7px;

	> div {
		padding-left: 30px;
		width: 970px;
	}
}


#content { margin: 7px 0 32px; padding: 1px 0; }
#content > div {
	background: url(../images/content_bg.png) 0 0 no-repeat;
	padding-top: 37px;
	width: 1008px;
}
#content > div > div {
	background: url(../images/content_bg.png) -1008px bottom no-repeat;
	padding-bottom: 17px;
}
#content > div > div > div {
	background: url(../images/content_bg.png) -2016px repeat-y;
	padding: 0 39px 0 34px;
	zoom: 1;
}

body.home #content {
	margin-bottom: -33px;

	> div {
		background: none;
		padding: 0;

		> div {
			background: none;
			padding-bottom: 0;

			> div {
				background: none;
			}
		}
	}

	#title { display: none; }
	#component { float: none; }
}

#title {}

#sidebar {
	float: left;
	width: 325px;
}

#component {
	float: left;
	margin-left: 33px;
	width: 575px;
}
#component.wide { margin-left: 0; width: 100%; }

#bottom { margin: 23px 0; padding: 1px 0; }

#footer-spacer { height: 111px; }
#footer {
	background: url(../images/footer_bg.png) repeat-x;
	bottom: 0;
	color: white;
	font-size: 10px;
	height: 91px;
	padding-top: 20px;
	position: absolute;
	text-align: center;
	width: 100%;
}
