#sidebar .moduletable {
	margin: 1em 0;
}
#sidebar .moduletable:first-child { margin-top: 0; }

#sidebar .moduletable h3 {
	margin-left: -10px;
	margin-top: 0;
}

/* modules.less */
.moduletable_hmenu {

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
	}

	li {
		display: inline;
		padding: 0 4px;

		> a, > span {
			color: white;
		}

		&:hover > a, &:hover > span,
		&.active > a, &.active > span {
			color: #EEE210;
			text-decoration: none;
		}
	}
}

.moduletable_vmenu {

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		border-bottom: 1px solid #E5E5E5;

		&:first-child {
			border-top: 1px solid #E5E5E5;
		}

		> a, > span {
			color: black;
			display: block;
			font-style: italic;
			padding: 10px 0;
			text-decoration: none;
			width: 100%;
		}

		&:hover, &.active {
			background: #F1F1F1 url(../images/triangle.png) right no-repeat;
		}
	}
}

#menu .moduletable_hmenu {
	margin-bottom: 2px;

	ul {

	}

	li {
		background: url(../images/menu_item_bg.png) 0 0 no-repeat;
		font-size: 14px;
		font-weight: bold;
		padding: 17px 0 18px 34px;

		> a, > span {
			line-height: 50px;
		}

		&:hover > a, &:hover > span,
		&.active > a, &.active > span {
			color: white;
		}

		&:hover + li, &.active + li { background-image: url(../images/menu_item_hover_after_bg.png); }
		&:hover, &.active { background-image: url(../images/menu_item_hover_bg.png); }
		&.last:hover { background-image: url(../images/menu_item_bg.png); }

		&:hover + li.active, &.active + li:hover { background-image: url(../images/menu_item_hover2_bg.png); }
	}
}

/* top modules */
.top_menu {
	font-size: 10px;
	position: absolute;
	top: 24px;
	right: 180px;
}

.social_links {
	position: absolute;
	right: 0;
	top: 23px;
	width: 120px;
}

/* bottom */
#bottom .module {
	background: url(../images/bottom_bg.png) 0 top no-repeat;
	float: left;
	margin-left: 6px;
	padding-top: 37px;
	width: 304px;

	&:first-child {
		margin-left: 0;
	}

	> div {
		background: url(../images/bottom_bg.png) -304px bottom no-repeat;
		padding-bottom: 11px;

		> div {
			background: url(../images/bottom_bg.png) -608px repeat-y;
			padding: 1px 30px 1px 23px;
			position: relative;
			zoom: 1;
		}
	}

	&.wide {
		background: url(../images/bottom_bg2.png) 0 top no-repeat;
		padding-top: 35px;
		width: 379px;

		> div {	background: url(../images/bottom_bg2.png) -379px bottom no-repeat; }
		> div > div { background: url(../images/bottom_bg2.png) -758px repeat-y; }
	}

	h3:first-child {
		margin: 0 0 -5px;
		position: relative;
		top: -19px;
	}

	.readmore {
		position: absolute;
		bottom: 0;
		right: 35px;
	}
}
