/* layout.css */
body, html {
  height: 100%;
}
body {
  background: url(../images/body_bg.png) 0 201px repeat-x;
}
#wrapper {
  position: relative;
  min-height: 100%;
}
#top > div > div,
#logo > div,
#menu > div,
#content > div,
#bottom > div,
#footer > div {
  margin: 0 auto;
  width: 1000px;
}
#top {
  background: url(../images/header.png) no-repeat top;
}
#top > div {
  background: url(../images/trusses.png) no-repeat;
}
#top > div > div {
  position: relative;
}
#logo > div {
  padding: 20px;
}
#menu {
  background: url(../images/menu_bg.png);
}
#content > div {
  background: url(../images/content_bg.png) no-repeat;
  box-shadow: 2px 2px 2px black;
  margin: 0 auto 32px;
  padding: 25px 33px;
  width: 934px;
}
#sidebar {
  float: left;
  width: 325px;
}
#component {
  float: left;
  margin-left: 33px;
  width: 575px;
}
#footer-spacer {
  height: 111px;
}
#footer {
  background: url(../images/footer_bg.png) repeat-x;
  bottom: 0;
  color: white;
  font-size: 10px;
  height: 91px;
  padding-top: 20px;
  position: absolute;
  text-align: center;
  width: 100%;
}
/* dummy crap */
#top > div > div {
  min-height: 50px;
}
#menu > div {
  min-height: 50px;
}
#content {
  padding-top: 30px;
}
