#sidebar .moduletable {
  margin: 1em 0;
}
#sidebar .moduletable:first-child {
  margin-top: 0;
}
#sidebar .moduletable h3 {
  margin-left: -10px;
  margin-top: 0;
}
/* modules.less */
.moduletable_hmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.moduletable_hmenu li {
  display: inline;
  padding: 0 4px;
}
.moduletable_hmenu li > a, .moduletable_hmenu li > span {
  color: white;
}
.moduletable_hmenu li:hover > a,
.moduletable_hmenu li:hover > span,
.moduletable_hmenu li.active > a,
.moduletable_hmenu li.active > span {
  color: #EEE210;
  text-decoration: none;
}
.moduletable_vmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.moduletable_vmenu li {
  border-bottom: 1px solid #E5E5E5;
}
.moduletable_vmenu li:first-child {
  border-top: 1px solid #E5E5E5;
}
.moduletable_vmenu li > a, .moduletable_vmenu li > span {
  color: black;
  display: block;
  font-style: italic;
  padding: 10px 0;
  text-decoration: none;
  width: 100%;
}
.moduletable_vmenu li:hover, .moduletable_vmenu li.active {
  background: #f1f1f1 url(../images/triangle.png) right no-repeat;
}
#menu .moduletable_hmenu li {
  background: url(../images/menu_item_bg.png) no-repeat;
  font-size: 14px;
  font-weight: bold;
  padding: 18px 0 18px 34px;
}
#menu .moduletable_hmenu li > a, #menu .moduletable_hmenu li > span {
  line-height: 51px;
}
#menu .moduletable_hmenu li:hover > a,
#menu .moduletable_hmenu li:hover > span,
#menu .moduletable_hmenu li.active > a,
#menu .moduletable_hmenu li.active > span {
  color: white;
}
#menu .moduletable_hmenu li:hover + li, #menu .moduletable_hmenu li.active + li {
  background-image: url(../images/menu_item_hover_after_bg.png);
}
#menu .moduletable_hmenu li:hover, #menu .moduletable_hmenu li.active {
  background-image: url(../images/menu_item_hover_bg.png);
}
#menu .moduletable_hmenu li.last:hover {
  background-image: url(../images/menu_item_bg.png);
}
#menu .moduletable_hmenu li:hover + li.active, #menu .moduletable_hmenu li.active + li:hover {
  background-image: url(../images/menu_item_hover2_bg.png);
}
/* top modules */
.top_menu {
  font-size: 10px;
  position: absolute;
  top: 24px;
  right: 180px;
}
.social_links {
  position: absolute;
  right: 0;
  top: 23px;
  width: 120px;
}
/* bottom */
#bottom .module {
  background: url(../images/bottom_bg.png) 0 top no-repeat;
  float: left;
  margin-left: 6px;
  padding-top: 37px;
  width: 304px;
}
#bottom .module:first-child {
  margin-left: 0;
}
#bottom .module > div {
  background: url(../images/bottom_bg.png) -304px bottom no-repeat;
  padding-bottom: 11px;
}
#bottom .module > div > div {
  background: url(../images/bottom_bg.png) -608px repeat-y;
  padding: 1px 30px 1px 23px;
}
#bottom .module.wide {
  background: url(../images/bottom_bg2.png) 0 top no-repeat;
  padding-top: 35px;
  width: 379px;
}
#bottom .module.wide > div {
  background: url(../images/bottom_bg2.png) -379px bottom no-repeat;
}
#bottom .module.wide > div > div {
  background: url(../images/bottom_bg2.png) -758px repeat-y;
}
#bottom .module h3 {
  margin: 0 0 -5px;
  position: relative;
  top: -19px;
}
